*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {

    background-color: black;
    background-image: url(../assets/images/cars2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}



.about {
    width: 100%;
    padding: 100px 0px;
    background-color: lightgray;
}

.about img {
    height: auto;
    width: 430px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color:#222;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}


.about-text p {
    color: rgb(52, 50, 50);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.services {
    background: black;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color:lightgray;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;

}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;

}




h5{
    color: #222;
    font-size: 23px;
    margin-bottom: 15px;
    
}

.pra p {
    color: black;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;

}

.contact-us {
    width: 100%;
    height: 290px;
    background: lightgray;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #222;
}

.contact-us p {
    color: #222;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.button {
    color:rgb(160, 71, 71) 
}

.button-two {
   color:rgb(160, 71, 71)
}


#searchicon{
    width: 5%;
    height: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
}

#logo1 {
    width: auto;
    height: 35px;
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
}


.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color:aliceblue;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color:#555 ;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column; 
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
    }

}



p {
    color: white;
    font-weight:800;
}

#showcase{
    background-image: url(../assests/images/freewayweb.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    color: #fff;

}



.fixed-header {
    width: 100%;
    position: fixed;
    background: #fff;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}


.fixed-header {
    top: 0
}



.search-bar {
    width: 100%;
    width: 700px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding:5px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: black;
}

.placeholder {
    color: black;
}

.search-bar button {
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #c4c1c1dd;
    cursor: pointer;
}

#footer{
    font-size: 12px;
    text-align: center;
    color: black;
}