*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
} 

 body {

    background-color: black;
    background-image: url(../assets/images/cars2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} 

  .main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}  

#searchicon{
    width: 5%;
    height: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
    
}

p {
    color: white;
    font-size: x-large;
    font-weight: bolder;
}

#showcase{
     background-image: url(../assests/images/cars2.jpg); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    color: #fff;
}

.button a {
    color: #fff;
}

 .search-bar {
    width: 100%;
    max-width: 700px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding:5px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: black;
} 

.placeholder {
    color: black;
}

.search-bar button {
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #c4c1c1dd;
    cursor: pointer;
}

 #footer{
    font-size: 12px;
    text-align: center;
    color: black;
}